*{
    margin: 0%;
    padding: 0%;
    
}

.main-box{
    background: linear-gradient(180deg, blue, red);
}

.navbar{
    height: 200px;
    width: 100%;
    background-color: #050824;
    color: #EDF5C9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}


h2 a{
    color: black;
    text-decoration: none;
}

h2 img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.box{
    height: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    columns: center;
}

.box img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
}

.search input{
    height: 80px;
    width: 30rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    margin-left: -5rem;
}

button{
    width: 5rem;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
}

a{
    font-size: 2rem;
    margin-left: 30px;
}

.footer{
    height: 5rem;
    display: flex;
    justify-content: center;
    /* margin-top: 5rem; */
    font-size: 1.5rem;
    margin-left: -5rem;
}

.hide{
    height: 5rem;
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    font-size: 1.5rem;
    margin-left: -5rem;
    visibility: hidden;
}