*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    border: border-box;
    color: white;
}

/**navbar**/

.bgi{
    background-image: url(netflix\ bgi.jpg);
    background-size: cover;
    height: 650px;
    width: 100%;
}

header{
    height: 80px;
    padding: 24px 32px;
}

.navbar{
    height: 40px;
    width: 100%;
    margin: 8px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.lan-signin{
    display: flex;
    width: 214px;
    height: 32px;
    margin: 0 0 0 -8px;
}

.logo{
   background-image: url(Logonetflix.png);
   background-size: cover;
   height: 40px;
   width: 150px;
}

.select-language{
    height: 35px;
    width: 116px;
    background-color: transparent;
    text-align: center;
    color: white;
    padding: 6px 20px;
    font-size: 1rem;
    font-style: bold;
    border: 1px solid white;
    border-radius: 5px;
}

.button{
    height: 35px;
    width: 75px;
    background-color: rgba(223, 12, 12, 0.925);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border-radius: 10%;
}

/**hero section**/

h1{
    height: 50px;
    width: 100%;
    font-size: 50px;
    text-align: center;
    font-style: bold;
}

p{
    height: 25px;
    width: 100%;
    font: 18px;
    text-align: center;
    font-size: 20px;   
    margin: 16px 0 0 0;
}

h3{
    height: 27px;
    width: 100%;
    text-align: center;
}

.content-area{
    height: 100px;
    width: 100%;
}

.search-panel{
    display: flex;
    justify-content: center;
    margin: 16px 0 0;
}

.Email-Address{
    height: 18px;
    width: 320px;
    background-color: transparent;
    padding: 24px 16px 16px 8px;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.started{
    height: 60px;
    width: 204px;
    background-color: rgba(223, 12, 12, 0.925);
    margin-left: 10px;
    font-size: 20px;
    border: none;
}

/**box1**/

.space{
    height: 10px;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.911);
}

.contentA{
    height: 350px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 72px 0 72px 0;
}

.text-image{
    height: 300px;
    width: 4000px;
    display: flex;
    align-items: center;
    margin: 0 2rem 0 2rem;
}

.Enjoy{
    height: 131px;
    width: 692px;
    font-style: bold;
}

h2{
    height: 43px;
    width: 692px;
    font-size: 2.3rem;
    font-weight: 700px;
    margin-left: 1rem;
}

.watch{
    height: 48px;
    width: 350px;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 20px 0 0 20px;
    text-align: left;
}

.shows{
    height: 300px;
    width: 400px;
    background-image: url(tv2.webp);
    background-size: cover;
    margin-right: 50px;
    position: absolute;
    right: 0px;
}

/**box2**/

.contentB{
    height: 350px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 72px 0 72px 0;
}

.text-imageA{
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    margin: 0 2rem 0 2rem;
}

.EnjoyA{
    height: 131px;
    width: 525px;
    font-style: bold;
    position: absolute;
    right: 0px;
}

.Download{
    height: 83px;
    width: 392px;
    font-size: 2.3rem;
    font-weight: 700px;
    margin-left: 1rem;
}

.watch{
    height: 48px;
    width: 350px;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 20px 0 0 20px;
    text-align: left;
}

.showsA{
    height: 300px;
    width: 400px;
    background-image: url(phone\ image.jpg);
    background-size: cover;
    margin-right: 50px;
    position: absolute;
    left: 0px;
} 

/**box4**/

.EnjoyC{
    height: 131px;
    width: 525px;
    font-style: bold;
    position: absolute;
    right: 0px;
}

.kid{
    height: 48px;
    width: 500px;
}

.watch{
    height: 48px;
    width: 400px;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 20px 0 0 20px;
    text-align: left;
}

.showsC{
    height: 300px;
    width: 380px;
    background-image: url(kid.jfif);
    background-size: cover;
    margin-right: 50px;
    position: absolute;
    left: 0px;
} 

/**question panel**/

 .space{
    height: 10px;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.911);
}

.ques-panel{
    height: 770px;
    width: 100%;
    background-color: black;
    padding: 72px 0;
}

.ques{
    height: 40px;
    width: 980px;
    font: 48px;
    text-align: center;
    font-style: bold;
}

.quesA{
    height: 80px;
    width: 900px;
    padding: 24px;
    background-color: rgb(54, 54, 54);
    border: none;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    left: 45px;
    font-size: 24px;
} 

.quesA:hover{
    background-color: gray;
}

span{
    font-size: 18px;
}

/**footer**/

footer{
    height: 420px;
    width: 943px;
    background-color: black;
    padding: 32px 32px 32px 32px;
}

.contact{
    height: 33px;
    width: 692px;
}

.question{
    height: 21px;
    width: 273px;
    margin-bottom: 12px;
    color: #FFFFFFB3;
}

ul{
    height: 280px;
    width: 492px;
    margin: -16px 0 14px -12px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li{
    height: 19px;
    width: 340px;
    margin: 16px 0 0 12px;

}

a{
    color: #FFFFFFB3;
    font-size: 0.8rem;
}

.netin{
    height: 43px;
    width: 692px;
}

.netinA{
    height: 19px;
    width: 74;
    margin-top: 24px;
    color: #FFFFFFB3;
    font-size: 0.8rem;
}

/**end**/